* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
}

body {
   --text-color: #222222;
   --p-color: #37DA9D;
   --box-shad: #d6d6d6;
   position: relative;

   width: 100%;
   height: 100%;
   margin: 0 auto;

   color: var(--text-color);
   background-size: cover;

   font-family: 'Poppins', sans-serif;
   font-weight: 200;
}

.container {
   min-height: 100%;
   margin: auto;
   margin-bottom: -120px;
}

header, footer {
   position: block;

   text-align: center;

   background-color: rgba(255, 255, 255, 0.95);

   Width: 100%;
}

/* HEADER */

header {
   position: fixed;
   z-index: 1;
   top: 0;

   height: 120px;

   -webkit-box-shadow: 1px 0 5px var(--box-shad);
   box-shadow: 1px 0 5px var(--box-shad);
}

header img {
   position: absolute;
   left: 75px;

   width: 60px;
   height: auto;
   padding: 30px 0;

   cursor: pointer;
}

header li, footer li {
   display: inline-block;

   padding: 48px 30px;
   padding-right: 30px;

   cursor: pointer;
}

header li:hover {
   color: var(--p-color);
   border-bottom: solid 4px var(--p-color);
}

/* IMAGE PORTRAITS - ONLY ADDED TO ADD PADDING FOR STICKY MENUS */

.content-container {
   position: relative;

   max-width: 1000px;
   margin: 0 auto;
}

.title {
   margin-top: 140px;
   padding: 7px 0;

   font-size: 0.8rem;
}

.title-box {
   display: block;

   width: 200px;

   transform: translateY(40px);
   text-align: center;

   color: white;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-color: var(--p-color);
}

.img-container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;

   margin: 0px auto 60px;

   background-color: rgba(0, 0, 0, 0.3);
}

.img-container img {
   width: 375px;
   height: 375px;
   margin: 20px;

}

.sticky-footer-btn {
   cursor: pointer;
   text-decoration: none;

   background-color: transparent;
}

/* ASIDES */

.aside-left {
   float: left;

   width: 75%;
   margin: 40px 0 0 0;
}

.aside-right {
   float: right;

   width: 75px;
   margin-top: 40px;
}

.aside-container {
   position: fixed;

   display: block;
}

.aside-right img {
   display: block;

   width: 75px;
   margin-bottom: 20px;

   cursor: pointer;
   transform: translateX(20px);

   -webkit-clip-path: circle(50% at 50% 50%);
   clip-path: circle(50% at 50% 50%);
}

/* FOOTER */

.footer-btn-text {
   padding: 7px 0;

   font-size: 0.8rem;
}

.sticky-footer-btn {
   display: block;
   clear: both;

   width: 200px;
   height: 32px;

   text-align: center;

   color: white;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   background-color: var(--p-color);
}

footer {
   height: 120px;

   -webkit-box-shadow: -1px 0 5px var(--box-shad);
   box-shadow: -1px 0 5px var(--box-shad);
}

.container::after {
   display: block;

   height: 120px;

   content: "";
}

.go-back-btn {
   position: absolute;
   top: 50%;
   left: 50%;

   padding: 4px 8px;

   cursor: pointer;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);

   border: none;
   outline: none;
   background-color: transparent;

   font-family: 'Poppins', sans-serif;
   font-weight: 200;
}



/* ============= */

/* MEDIA QUERIES */

/* ============= */

@media screen and (max-width: 1050px) {

   .content-container {
      width: 70%;
   }

   .aside-left, .aside-right, .aside-container, .img-container {
      position: relative;

      float: none;

      width: 100%;
      margin: 40px auto 0;
      padding: 0;
   }

   .img-container img {
      width: 55%;
      height: 55%;
   }

   .aside-right {
      margin: 75px 0;
   }

   .aside-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
   }

   .aside-container img {
      width: 12%;
      height: 12%;
      margin: 0 4% 0 0;
   }
}

@media screen and (max-width: 870px) {
   header img {
      visibility: hidden;
   }
}

@media screen and (max-width: 580px) {
   header li, footer li {
      padding-right: 15px;

      font-size: 0.8rem;
   }
}