* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
}

body {
   position: relative;

   width: 100%;
   height: 100%;
   margin: 0 auto;

   /* background: url(imgs/ff0000-wallpaper-1.jpg) no-repeat center center fixed; */
   background-size: cover;

   font-family: 'Poppins', sans-serif;
   font-weight: 200;
}

.container {
   min-height: 100%;
   margin-bottom: -175px;
}

/*
.title {
   padding: 75px 0;
   position: absolute;
} */

header, footer, aside {
   position: block;

   text-align: center;

   color: white;
   background-color: rgba(100, 100, 100, 0.3);

   Width: 100%;
}

/* HEADER */

header {
   height: 175px;
   position: fixed;
   top: 0;
}

header img {
   width: 75px;
   height: auto;
   transform: rotateZ(-90deg);
   position: absolute;
   left: 45px;
   padding: 50px 0;
}

header li, footer li {
   display: inline-block;

   padding: 75px 30px;
   padding-right: 30px;
   cursor: pointer;
}

header li:hover {
   border-bottom: solid 4px red;
   background-color: rgba(0, 0, 0, 0.1);
   color: red;
}

/* IMAGE PORTRAITS - ONLY ADDED TO ADD PADDING FOR STICKY MENUS */

.sticky-footer-btn {
   text-decoration: none;
   cursor: pointer;
   z-index: 5;
}

.content-container {
   max-width: 960px;
   margin: auto;
}

.img-container, .img-container-2 {
   margin: 225px auto 50px;
   display: flex;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.3);
}

.img-container img, .img-container-2 img {
   width: 500px;
   height: 500px;
   margin: 25px;
}

.img-container-2 {
   margin-top: 50px;
   clear: both;
}

/* ASIDES */

.aside-left, .aside-right {
   display: flex;
   float: left;
   flex-direction: column;
   justify-content: center;

   width: 33%;
   min-height: 350px;
   padding: 20px;
   margin: 0 auto 50px;
}


aside li {
   display: block;

   text-align: center;
}

.aside-right {
   float: right;
}

/* FOOTER */

footer {
   clear: both;

   height: 175px;
}

.container::after {
   display: block;

   content: "";
}

footer, .container::after {
   height: 175px;
}

.sticky-footer-btn, .go-back-btn {
   padding: 4px 8px;
   cursor: pointer;
   outline: none;
   border: none;
   font-family: 'Poppins', sans-serif;
   font-weight: 200;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

.go-back-btn {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
}

/* ============= */

/* MEDIA QUERIES */

/* ============= */

@media screen and (max-width: 1000px) {

   .aside-left, .aside-right, .img-container, .img-container-2 {
      width: 90%;
      margin: 4% auto 0;
      float: none;
      padding: 0;
   }

   .img-container img, .img-container-2 img {
      display: inline-block;
      width: 20%;
      height: 20%;
   }

   .aside-right {
      position: relative;
   }

   .container {
      margin: 0;
      padding: 0;
   }

   header {
      display: block;
      position: relative;
      margin-bottom: 4%;
   }

   footer {
      margin: 4% 0 0 0;
      display: block;
      position: relative;
   }

   .container::after {
      height: 0;
   }
}